@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: Poppins;
}

:root {
    --text-color: #fff;
    --bg1: hsl(207, 100%, 20%);
    --bg2: hsl(293, 100%, 20%);
    --primary-color: #008cff;
    --secondary-color: #e100ff;
    --bg-color: rgba(0, 174, 255, 0.933);
    --correct-color: hsla(120, 100%, 50%, 0.719);
    --wrong-color: hsla(0, 100%, 50%, 0.719);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, var(--bg1), var(--bg2));
    gap: 1em;
}

.box {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 4px 4px 20px hsla(0, 0%, 0%, .4),
        -4px -4px 10px hsla(0, 0%, 100%, .2);
}

/* Front Section */

.front-page {
    color: var(--text-color);
    padding: 2em 2em;
    gap: 1em;
}

.btn {
    background-color: hsl(240, 100%, 60%);
    border-radius: 1em;
    color: var(--text-color);
    padding: .5em 2em;
    font-size: 1.2rem;
    transition: .4s;
}

.btn:hover {
    background-color: hsl(240, 100%, 50%);
    transform: translateY(2px);
}

.btn:active {
    background-color: hsl(240, 100%, 70%);
    transform: translateY(0px);
}

/* Question Section */

.question-page {
    width: 350px;
    color: var(--text-color);
    padding: 2em 2em;
    gap: 1em;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: .8rem;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.answer-btn {
    color: hsl(0, 0%, 80%);
    width: 100%;
    padding: 1em 1em;
    background-color: hsl(240, 100%, 60%);
    border-radius: 10px;
    text-align: left;
}
.answer-btn:hover{
    color: white;
    background-color: hsl(240, 100%, 50%);
    transform: translateY(-1px);
}
.answer-btn:active{
    background-color: hsl(240, 100%, 65%);
    transform: translateY(0px);
}

.meter-container{
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 20px;
    border: none;
}

#completion-meter {
    width: 5%;
    height: 10px;
    border-radius: 20px;
    border: none;
    background-color: rgba(255, 0, 0, 0.681);
    transition: all .3s;
}

/* Result Section */

.result-page{
    color: var(--text-color);
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 1.5em 2em;
    gap: 1em;
}

.result{
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.hide {
    display: none;
}

@media (max-width: 468px){
    .question-page, .result-page{
        width: 350px;
    }
}